/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Above is CSS Reset, below starts project 1 CSS*/

/* 18px = 1em*/

#main {
	background-color: #12538F;
	min-height: 40em;
}

#main h1 {
	font-family: 'Tangerine', cursive;
	font-size: 5em;
	text-align: center;
	padding-top: 3em;
}

#main h2{
	font-size: 1em;
	font-family: Verdana, Geneva, sans-serif;
	text-align: center;
	
}

#main p{
	font-size: .625em;
	font-family: Verdana, Geneva, sans-serif;
	text-align: center;
	padding-top: 8%;
}

#staff {
	background-color: #DAD6D7;
	min-height: 20em;
}

#staff h1 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1.5em;
	text-align: center;
	padding-top: 5%;
}

#staff img{
	padding-left: 25%;
	max-width: 50%;
	display: block;
}

#staff figcaption{
	font-family: Verdana, Geneva, sans-serif;
	text-align: center;
	padding-bottom: 5%;
}

#services {
	background-color: #1BB4C2;
	min-height: 20em;
}

#services h1 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1.5em;
	text-align: center;
	padding-top: 5%;
}

#services ul {
	font-family: Verdana, Geneva, sans-serif;
	padding: 10%;
}

#services ul li {
	padding: 8%;
}

#services ol {
	font-family: Verdana, Geneva, sans-serif;
	display: none;
}

#specials {
	background-color: #DAD6D7;
	min-height: 20em;
}

#specials h1 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1.5em;
	text-align: center;
	padding-top: 5%;
}

#signup {
	background-color: #29A3C2;
	min-height: 20em;
}

#signup h1 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1.5em;
	text-align: center;
	padding-top: 5%;
}

@media screen and (min-width: 27.50em) {  /*440px*/

#main h1 {
	font-family: 'Tangerine', cursive;
	font-size: 6em; /*108px*/
	text-align: center;
	padding-top: 2em;
}

#main h2{
	font-size: 1.5em; /*27px*/
	font-family: Verdana, Geneva, sans-serif;
	text-align: center;
	
}

#main p{
	font-size: .825em; /*14px*/
	font-family: Verdana, Geneva, sans-serif;
	text-align: center;
	padding-top: 8%;
}

#staff figure{
	position: relative;
}

#staff img{
	padding-left: 5%;
	max-width: 50%;
}

#staff figcaption{
	font-family: Verdana, Geneva, sans-serif;
	padding-bottom: 5%;
}

#services ul {
	font-family: Verdana, Geneva, sans-serif;
	padding: 10%;
}

#services ul li {
	padding: 2%;
}

#services ol {
	font-family: Verdana, Geneva, sans-serif;
}

@media screen and (min-width: 50em) { /*800px*/

#main h1 {
    font-family: 'Tangerine', cursive;
	font-size: 15vw;
	text-align: center;
	padding-top: 1em;
}

#main h2{
	font-size: 2em; /*36px*/
	font-family: Verdana, Geneva, sans-serif;
	text-align: center;
	
}

#main p{
	font-size: 1em;
	font-family: Verdana, Geneva, sans-serif;
	text-align: center;
	padding-top: 8%;
}

#staff img{
	padding-left: 8%;
	max-width: 15%;
	display: inline;
}

#staff figcaption{
	display: inline;
}




